h1 {color: red; text-wrap-mode: wrap; text-align: center;}
body {
    background-color: white;
color: rgb(152, 58, 74);
font-family: fantasy;}
img {display: block;
  margin: auto;
  width: 50%; 
  }
  h2 {text-align:center}
p {text-align: center;}
h3 {font-size: xx-large;}
#Artists {background-color: white; 
  border: 2px solid rgba(204, 54, 54, 0.479); 
  padding: 20px;}

.Highlight { background-color: rgb(255, 115, 0);
   color: rgb(255, 255, 255);
    padding: 10px;}

#Skindred {background-color: rgb(153, 110, 19);
color: rgba(213, 212, 212, 0.997);
text-align: center;}

#identity {font-size: xx-large;}
#words {font-size: xx-large;}
#cat1 {width:fit-content;
float: left;}
#cat2 {width:fit-content;
float: right;}