body {  background-color: rgb(0, 0, 0);}

.page{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 50px;
    width: 1600px;
    height: 800px;
    justify-content: center;
}

.header {background-color: rgb(65, 185, 135);
    height: 100px;
    width: 1600px;
 border: 2px solid white;
}
.middle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    height: 1000px;
     justify-content: center;
}

.left-sidebar {background-color: rgb(190, 187, 0);
    width: 150px;
    padding: 0%;
    border: 2px solid white;
}

.right-sidebar {background-color: rgb(57, 57, 165);
    width: 150px;
    padding: 0%;
    border: 2px solid white;
}

.main-content {background-color: rgb(168, 49, 49);
    width: 1300px;
    padding: 0%;
    border: 2px solid white;
}

.footer { background-color: rgb(161, 38, 153);
    height: 100px;
    width: 1600px;
    padding: 0%;
    border: 2px solid white;
}